@page "/farkle"
@rendermode InteractiveAuto
@using System.Collections
@using System.Text.Json
<PageTitle>Farkle</PageTitle>
<style>
    .reset-style, .reset-style * {
        all: revert;
    }
    .row {
        max-width: 360px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        /* outline: 1px solid red; */
    }
    .dicerow > div {
        text-align: center;
        font-size: 4em; /* Updated font size to make it bigger */
        line-height: 1em;
    }
    .meldrow > div {
        text-align: center;
        font-size: 2.5em; /* Updated font size to make it bigger */
        line-height: .72em;
        /* outline: 1px dashed red; */
    }
    .die {
        color: black;
    }
    .diescorable {
        color: black;
    }
    .dienoscore {
        color: grey;
    }
    .diehot {
        color: gold;
    }
    .diepicked {
        color: red;
    }
    .diemelded {
        color: darkblue;
    }
    .diehidden {
        visibility: hidden;
        width: 0;
        height: 0;
        border: none;
        text-align: center;
        line-height: 0;
        margin: 0;
    }
    .column {
        /*width: 200px;
                padding: 1px;*/
        float: left;
        clear: left;
    }
    .control-area {
        clear: left;
    }
    .autogrid {
        --min-column-size: 12rem;
        display: grid;
        gap: .5rem;
        grid-template-columns: 400px 200px; 
    }
    .farkle {
        color: red;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 100px;
        left: 420px;
        font-size: 3.5em;
        transform: rotateY(0deg) rotate(-25deg);
    }
</style>
<div class="parent">
    <div class="autogrid">
        @{
            string displayInGame = currentPlayer == 0 ? "none" : "block";
            string displayNewGame = currentPlayer == 0 ? "block" : "none";
            string displayFarkle = showFarkle ? "block" : "none";
        }
        <div>
            <h1>Farkle Game</h1>
            <p>
                <label style="display:@displayNewGame" class="lbl">Number of Players <input class="player-number" @bind-value=@playerCount/></label>
                <button style="display:@displayNewGame" class="btn btn-primary" @onclick="NewGame" disabled=@newGameDisabled>New Game</button>
            </p>
        </div>
        <div style="display: table; height: 60px; overflow: hidden;">
            <div style="display: table-cell; vertical-align:bottom; padding-left:14px">
                @foreach (var playerScore in playerScores)
                {
                    <div>Player @playerScore.Key Score : @playerScore.Value</div>
                }
            </div>
        </div>
        <div>
            <h1 class="farkle" style="display:@displayFarkle">Farkle!</h1>
            <div class="reset-style" style="display:@displayInGame">
                <div class="row" id="rolledDice" style="min-height: 65px;">
                    <div style="min-width: 60px">Dice:</div>
                    <div class="row dicerow">
                        @for (var i = 0; i < rollingDice.Count; i++)
                        {
                            var die = rollingDice[i];
                            var dieIndex = i;
                            <div
                                id="@die.Id"
                                class="@die.Class"
                                @onclick="() => PickDie(dieIndex, true)">
                                @GetDiceFaceUnicode(die.Value)
                            </div>
                        }
                    </div>
                </div>
                <div class="row" id="pickedDice" style="min-height: 65px;">
                    <div style="min-width: 60px">Picks:</div>
                    <div class="row dicerow">
                        @for (var i = 0; i < pickingDice.Count; i++)
                        {
                            var die = pickingDice[i];
                            var dieIndex = i;
                            <div id="@die.Id"
                                 class="@die.Class"
                                 @onclick="() => PickDie(dieIndex, false)">
                                @GetDiceFaceUnicode(die.Value)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <p style="display:@displayInGame">
                <button class="btn btn-primary" @onclick="TryLuck" disabled=@rollDiceDisabled>Roll Dice</button>
                <button class="btn btn-primary" @onclick="BankPoints" disabled=@bankPointsDisabled>BankPoints</button>
            </p>
        </div>
        <div style="border-radius:12px; background-color:#e5e5e5; outline:1px solid, #151515">
            <div class="reset-style" style="display:@displayInGame; padding: 0 0 16px 16px">
                <h4 style="display:@displayInGame">Current Player: @currentPlayer</h4>
                <div>Turn Points: @turnPoints</div>
                <div>Melds:</div>
                @foreach (var dieMeld in meldDice.AsEnumerable().Reverse())
                {
                    <div class="row meldrow">
                        @foreach (var dieValue in dieMeld)
                        {
                            <div class="@dieClasses.diemelded">@GetDiceFaceUnicode(dieValue)</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div style="grid-column: 1 / span 2;">
            <div class="reset-style" style="display:@displayInGame">
                <h4>Fact Log:</h4>
                <ul>
                    @foreach (var gameFact in GameFacts)
                    {
                        <li>@gameFact.GetType().Name @JsonSerializer.Serialize(gameFact)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@code {
    private int playerCount = 2;
    private int currentPlayer = 0;
    private bool die1Enabled = true;
    private bool newGameDisabled = false;
    private bool rollDiceDisabled = true;
    private bool bankPointsDisabled = true;
    private List<object> GameFacts { get; } = [];
    private Dictionary<int, int> playerScores = new();
    private List<Die> rollingDice = [];
    private List<Die> pickingDice = [];
    private List<int[]> meldDice = [];
    private bool showFarkle = false;
    private int turnPoints = 0;
    private int pickedDicePoints = 0;
    private enum dieClasses
    {
        die,
        diescorable,
        dienoscore,
        diehidden,
        diehot,
        diepicked,
        diemelded,
    }
    private enum dieIds
    {
        die1,
        die2,
        die3,
        die4,
        die5,
        die6,
    }

    #region Subscription Notifiers

    private void NotifyOfNewFact()
    {
        UpdatePlayerTurn();
        UpdateRollDiceButton();
        UpdateDice();
        UpdateBankPointsButton();
        UpdatePickedDice();
        UpdateDieClasses();
        UpdateMelds();
        UpdateTurnPoints();
        UpdatePlayerScores();
        UpdateFarkle();

        KickoffFactProcessors();
    }

    private void KickoffFactProcessors()
    {
        RollGenerator();
        FarkleInspector();
        //WinnerInspector();
    }

    #endregion

    #region Read Model Subscribers

    private void UpdatePlayerTurn()
    {
        object lastFact = GetLastFact();

        //update player turn when game starts or turn ends
        if (lastFact is GameStartedFact or LuckTriedFact { TurnEnded: true })
        {
            var allFacts = GetAllFacts();
            var playerCount = GetPlayerCount(allFacts);
            currentPlayer = GetCurrentPlayer(playerCount, allFacts);
        }
    }

    private void UpdateRollDiceButton()
    {
        object lastFact = GetLastFact();

        //enable roll dice if the last fact was game started, turn ended or hot dice
        if (lastFact is GameStartedFact gameStartedFact)
        {
            rollDiceDisabled = false;
        }
    }

    private void UpdateDice()
    {
        var lastFact = GetLastFact();

        // Setup dice for a new game
        if (lastFact is GameStartedFact)
        {
            rollingDice = 
            [
                new Die(1, dieIds.die1, dieClasses.dienoscore)
                ,new Die(2, dieIds.die1, dieClasses.dienoscore)
                ,new Die(3, dieIds.die1, dieClasses.dienoscore)
                ,new Die(4, dieIds.die1, dieClasses.dienoscore)
                ,new Die(5, dieIds.die1, dieClasses.dienoscore)
                ,new Die(6, dieIds.die1, dieClasses.dienoscore)
            ];
        }

        // Assign roll generated dice values
        if (lastFact is RollGeneratedFact rollGeneratedFact)
        {
            rollingDice.Clear();
            rollingDice =
            [
                new Die(0, dieIds.die1, dieClasses.diehidden)
        ,new Die(0, dieIds.die1, dieClasses.dienoscore)
        ,new Die(0, dieIds.die1, dieClasses.dienoscore)
        ,new Die(0, dieIds.die1, dieClasses.dienoscore)
        ,new Die(0, dieIds.die1, dieClasses.dienoscore)
        ,new Die(0, dieIds.die1, dieClasses.dienoscore)
            ];

            for (var i = 0; i < rollGeneratedFact.DiceValues.Length; i++)
            {
                rollingDice[i].Value = rollGeneratedFact.DiceValues[i];
            }
        }

        // Reset dice for hot dice
        if (lastFact is LuckTriedFact { TurnEnded: false } luckTriedFact)
        {
            //Todo
        }

        // Reset dice for a new turn
        if (lastFact is LuckTriedFact { TurnEnded: true } luckTriedFactTurnEnded)
        {
            rollingDice.Clear();

            rollingDice =
            [
                new Die(1, dieIds.die1, dieClasses.dienoscore)
                ,new Die(2, dieIds.die1, dieClasses.dienoscore)
                ,new Die(3, dieIds.die1, dieClasses.dienoscore)
                ,new Die(4, dieIds.die1, dieClasses.dienoscore)
                ,new Die(5, dieIds.die1, dieClasses.dienoscore)
                ,new Die(6, dieIds.die1, dieClasses.dienoscore)
            ];
        }
    }

    private void UpdatePickedDice() {
        var lastFact = GetLastFact();

        //setup picked dice for new game -or- re-hide and clear picked die for each roll
        if (lastFact is GameStartedFact or LuckTriedFact) {
            //document.getElementById("pickedArea").style.display = "block";

            pickingDice =
            [
                new Die(0, dieIds.die1, dieClasses.diehidden)
        , new Die(0, dieIds.die2, dieClasses.diehidden)
        , new Die(0, dieIds.die3, dieClasses.diehidden)
        , new Die(0, dieIds.die4, dieClasses.diehidden)
        , new Die(0, dieIds.die5, dieClasses.diehidden)
        , new Die(0, dieIds.die6, dieClasses.diehidden)
            ];
        }

        //die picked and un-picked actions
        if (lastFact is DiePickedFact diePicked)
        {
            var dieIndex = diePicked.DieIndex;
            var dieValue = 
                diePicked.FromRoll 
                    ? rollingDice[dieIndex].Value 
                    : pickingDice[dieIndex].Value;

            rollingDice[dieIndex].Value =
                diePicked.FromRoll ? 0 : dieValue;

            pickingDice[dieIndex].Value =
                diePicked.FromRoll ? dieValue: 0;
        }
    } 

    private void UpdateBankPointsButton()
    {
        var lastFact = GetLastFact();

        // Disable bank points button until new dice are picked
        if (lastFact is LuckTriedFact { TurnEnded: true })
        {
            bankPointsDisabled = true;
        }

        // Enable bank points button if a roll generated event score is greater than 0
        if (lastFact is RollGeneratedFact rollGeneratedFact)
        {
            var scoreResult = CalculateScore(rollGeneratedFact.DiceValues.ToList());
            if (scoreResult.Score > 0)
            {
                bankPointsDisabled = false;
            }
        }

        // Enable bank points button if a die picked event results in a meld with nothing leftover, otherwise disable
        if (lastFact is DiePickedFact)
        {
            var rolledDice =
                rollingDice
                    .Where(die => die.Class is dieClasses.diescorable)
                    .Select(die => die.Value)
                    .ToList();
            
            var pickedDice = 
                pickingDice
                    .Where(die => die.Class is dieClasses.diepicked or dieClasses.diescorable)
                    .Select(die => die.Value)
                    .ToList();

            var rolledDiceScore = CalculateScore(rolledDice);
            var pickedDiceScore = CalculateScore(pickedDice);
            if (pickedDiceScore is { Score: > 0 } || rolledDiceScore is { Score: > 0 })
            {
                bankPointsDisabled = false;
            }
            else
            {
                bankPointsDisabled = true;
            }
        }
    }

    private void UpdateMelds()
    {
        var lastFact = GetLastFact();

        // Setup meld area for new game
        if (lastFact is GameStartedFact)
        {

        }

        // Load melds on a new roll
        if (lastFact is LuckTriedFact { TurnEnded: false })
        {
            // // Create meld divs from luck tried facts in turn
            var allFacts = GetAllFacts();
            var luckTriedFactsSinceLastTurn = GetLuckTriedFactsSinceLastTurn(allFacts);
            //var hotDiceIndexes = GetHotDiceIndexesForLuckTriedFactsInTurn(allFacts);

            // int startMeldIndex = 0;
            // if (hotDiceIndexes.Count > 0)
            // {
            //     startMeldIndex = hotDiceIndexes[^1] + 1;
            // }

            // HtmlElement meldDiceDiv = (HtmlElement)WebBrowser.Document.GetElementById("meldDice");
            // meldDiceDiv.InnerHtml = "";

            meldDice.Clear();

            var luckTriedFactsWithNonZeroMelds = 
                luckTriedFactsSinceLastTurn.Where(fact => fact.MeldKept.Length > 0);

            foreach (var fact in luckTriedFactsWithNonZeroMelds)
            {
                meldDice.Add(fact.MeldKept);
            }
        }

        // Reset meld when a turn ends
        if (lastFact is LuckTriedFact { TurnEnded: true })
        {
            meldDice.Clear();
        }
    }

    private void UpdateTurnPoints()
    {
        var lastFact = GetLastFact();

        // Clear turn points at game start or when turn ends
        if (lastFact is GameStartedFact
            || lastFact is LuckTriedFact { TurnEnded: true })
        {
            turnPoints = 0;
        }

        // Update turn points when die is picked
        if (lastFact is DiePickedFact)
        {
            var luckTriedSoFar = GetLuckTriedFactsSinceLastTurn(GetAllFacts());

            int luckTriedSoFarScore = 0, pickedDiceScore = 0;

            foreach (var luckTriedFact in luckTriedSoFar)
            {
                var scoreResult = CalculateScore(luckTriedFact.MeldKept.ToList());
                luckTriedSoFarScore += scoreResult.Score;
            }

            var scorablePickedDice =
                pickingDice.Where(die => die.Class == dieClasses.diescorable)
                    .Select(die => die.Value)
                    .ToList();

            if (scorablePickedDice.Count > 0)
            {
                pickedDiceScore = CalculateScore(scorablePickedDice).Score;
            }

            turnPoints = (luckTriedSoFarScore + pickedDiceScore);
        }

        // Add hot dice to turn points
        // if (IsHotDice())
        // {
        //     var hotDiceScore = CalculateScore(lastFact.DiceValues).Score;

        //     GetElementById("turnPoints").TextContent =
        //         ((int.Parse(GetElementById("turnPoints").TextContent) || 0) + hotDiceScore).ToString();
        // }

        // Update turn points when luck is tried
        if (lastFact is LuckTriedFact { TurnEnded: false })
        {
            var luckTriedSoFar = GetLuckTriedFactsSinceLastTurn(GetAllFacts());
            int luckTriedSoFarScore = 0;
            foreach (var luckTriedFact in luckTriedSoFar)
            {
                var scoreResult = CalculateScore(luckTriedFact.MeldKept.ToList());
                luckTriedSoFarScore += scoreResult.Score;
            }

            turnPoints = luckTriedSoFarScore;
        }
    }

    private void UpdatePlayerScores()
    {
        var lastFact = GetLastFact();

        // Reset scores on game start
        if (lastFact is GameStartedFact gameStartedFact)
        {
            for (int i = 1; i <= gameStartedFact.NumberOfPlayers; i++)
            {
                playerScores.Add(i,0);
            }
        }

        // Update scores on turn end
        if (lastFact is LuckTriedFact { TurnEnded: true, MeldKept.Length: > 0})
        {
            var gameFacts = GetAllFacts();
            var playerCount = GetPlayerCount(gameFacts);
            var playerScores1 = GetPlayerScores(playerCount, gameFacts);
            var currentPlayer = GetCurrentPlayer(playerCount, gameFacts);
            var totalScores = 0;

            for (int i = 0; i < playerScores1.Count; i++)
            {
                playerScores[i+1] = playerScores1[i];
            }
        }
    }

    private void UpdateDieClasses()
    {
        var lastFact = GetLastFact();

        //setup picked dice for new game
        if (lastFact is RollGeneratedFact or DiePickedFact)
        {
            var rollingDiceValues = rollingDice
                .Select(d => d.Value)
                .Where(d => d > 0)
                .ToList();

            var pickingDiceValues = pickingDice
                .Select(d => d.Value)
                .Where(d => d > 0)
                .ToList();

            List<int> combinedDiceValues = [];
            combinedDiceValues.AddRange(rollingDiceValues);
            combinedDiceValues.AddRange(pickingDiceValues);

            Dice combinedDice = CalculateScore(combinedDiceValues);

            foreach (Die die in rollingDice)
            {
                die.Class = 
                    combinedDice.ScorableDice.Contains(die.Value) ? dieClasses.diescorable : dieClasses.dienoscore;

                if (die.Value == 0)
                    die.Class = dieClasses.diehidden;
            }

            foreach (Die die in pickingDice)
            {
                die.Class = combinedDice.ScorableDice.Contains(die.Value) ? dieClasses.diescorable : dieClasses.diepicked;

                if (die.Value == 0)
                    die.Class = dieClasses.diehidden;
            }
        }
    }

    private void UpdateFarkle()
    {
        var lastFact = GetLastFact();

        if (lastFact is LuckTriedFact { TurnEnded: true, MeldKept.Length: 0 })
        {
            rollDiceDisabled = true;
            showFarkle = true;
            var timer = new Timer(new TimerCallback(_ =>
            {
                rollDiceDisabled = false;
                showFarkle = false;
                InvokeAsync(StateHasChanged);
            }), null, 1000, 1000);
        }
    }

    #endregion

    #region Read Model Methods

    private object GetLastFact()
    {
        return GameFacts[^1];
    }

    private List<object> GetAllFacts()
    {
        return GameFacts;
    }

    private int GetLastGameStartedIndex(List<object> facts)
    {
        return facts
        .Select(fact => fact.GetType())
        .ToList()
        .LastIndexOf(typeof(GameStartedFact));
    }

    private int GetPlayerCount(List<object> facts)
    {
        int lastGameStartedIndex = GetLastGameStartedIndex(facts);
        if (lastGameStartedIndex != -1)
        {
            GameStartedFact fact = facts[lastGameStartedIndex] as GameStartedFact ?? throw new InvalidOperationException();
            if (fact.NumberOfPlayers.HasValue) return fact.NumberOfPlayers.Value;
        }
        return 0; // or appropriate default/fallback value, such as 0 or undefined, depending on further usage
    }

    private int GetCurrentPlayer(int playerCount, List<object> facts) {
        var lastGameStartedIndex = GetLastGameStartedIndex(facts);
        var turnEndedCount = 
            facts
                .Skip(lastGameStartedIndex + 1)
                .Count(fact => fact is LuckTriedFact { TurnEnded: true });
        return (turnEndedCount % playerCount) + 1;
    }

    private List<int> GetPlayerScores(int playerCount, List<object> facts)
    {
        var playersLuckTriedFacts = GetPlayersLuckTriedFacts(playerCount, facts);

        var playersTurns = playersLuckTriedFacts
            .Select(playerFacts =>
        {
            var turns = new List<List<object>>();
            var currentTurn = new List<object>();

            foreach (LuckTriedFact fact in playerFacts)
            {
                currentTurn.Add(fact);
                // End of a turn
                if (fact.TurnEnded)
                {
                    turns.Add([..currentTurn]);
                    currentTurn.Clear();
                }
            }

            return turns;
        }).ToList();

        var scorablePlayerTurns =
            playersTurns
                .Select(
                    playerTurns =>
                        playerTurns
                            .Where(turn =>
                            {
                                LuckTriedFact? lastFact = turn.Last() as LuckTriedFact;
                                return lastFact != null && !(lastFact is { TurnEnded: true, MeldKept.Length: 0 });
                            })
                            .ToList()
                ).ToList();

        var playersTurnScores =
            scorablePlayerTurns
                .Select(playerTurns =>
                    playerTurns
                        .Select(turn =>
                            turn.Aggregate(0, (turnScore, fact) =>
                            {
                                if (((LuckTriedFact)fact).MeldKept.Length > 0)
                                {
                                    var scoreResult = CalculateScore(((LuckTriedFact)fact).MeldKept.ToList());
                                    return turnScore + scoreResult.Score;
                                }

                                return turnScore;
                            })
                        ).ToList()
                ).ToList();

        var totalPlayerScores =
            playersTurnScores
                .Select(playerScores =>
                    playerScores.Aggregate(0, (totalScore, turnScore) => totalScore + turnScore)
                ).ToList();

        return totalPlayerScores;
    }

    private List<List<object>> GetPlayersLuckTriedFacts(int playerCount, List<object> facts)
    {
        var playersLuckTriedFacts = new List<List<object>>(new List<object>[playerCount]);
        for (int i = 0; i < playerCount; i++)
        {
            playersLuckTriedFacts[i] = new List<object>();
        }

        foreach (var fact in facts)
        {
            if (fact is LuckTriedFact)
            {
                var currentPlayer = GetCurrentPlayer(playerCount, facts.Take(facts.IndexOf(fact)).ToList());

                playersLuckTriedFacts[currentPlayer - 1].Add(fact);
            }
        }

        return playersLuckTriedFacts;
}

    private List<LuckTriedFact> GetLuckTriedFactsSinceLastTurn(List<object> facts)
    {
        int turnStartIndex = Math.Max(
            facts.FindLastIndex(fact => fact is GameStartedFact),
            facts.FindLastIndex(fact => fact is LuckTriedFact { TurnEnded: true })
        ) + 1;

        List<LuckTriedFact> luckTriedFactsThisTurn = 
            facts
                .GetRange(turnStartIndex, facts.Count - turnStartIndex)
                .OfType<LuckTriedFact>()
                .ToList();

        return luckTriedFactsThisTurn;
    }

    private List<int> GetHotDiceIndexesForLuckTriedFactsInTurn(List<object> facts)
    {
        List<LuckTriedFact> luckTriedFactsThisTurn = GetLuckTriedFactsSinceLastTurn(facts);
        List<int> hotDiceIndexes = new List<int>();
        for (int index = 0; index < luckTriedFactsThisTurn.Count; index++)
        {
            LuckTriedFact fact = luckTriedFactsThisTurn[index];
            if (fact.DiceRolled.Length == fact.MeldKept.Length)
            {
                hotDiceIndexes.Add(index);
            }
        }
        return hotDiceIndexes;
    }

    #endregion

    #region Processor Subscribers

    private void RollGenerator()
    {
        if (GetLastFact() is LuckTriedFact { TurnEnded: false } luckTriedFact)
        {
            var numberToGenerate = luckTriedFact.DiceRolled.Length == 0 ? 6 : luckTriedFact.DiceRolled.Length;

            var numbersGenerated = 
                GenerateRoll(numberToGenerate);

            StoreFact(new RollGeneratedFact(numbersGenerated));
        }
    }

    private void FarkleInspector()
    {
        var lastFact = GetLastFact();
        
        if (lastFact is RollGeneratedFact rollGeneratedFact)
        {
            var scoredDice = CalculateScore(rollGeneratedFact.DiceValues.ToList());
            if (scoredDice.Score == 0)
            {
                StoreFact(new LuckTriedFact(rollGeneratedFact.DiceValues, [], true));
            }
        }
    }

    private void WinnerInspector()
    {
        throw new NotImplementedException();
    }

    #endregion

    #region Commands

    private void NewGame()
    {
        GameFacts.Clear();
        StoreFact(new GameStartedFact(playerCount));
    }

    private void TryLuck()
    {
        var rolledDice = rollingDice
            .Where(d => d.Class != dieClasses.diehidden && d.Class != dieClasses.diehot)
            .Select(d => d.Value)
            .ToArray();

        var pickedDice = pickingDice
            .Where(d => d.Class == dieClasses.diepicked)
            .Select(d => d.Value)
            .ToArray();

        var hotDice = rollingDice
            .Where(d => d.Class == dieClasses.diehot)
            .Select(d => d.Value)
            .ToArray();

        var pickedScoringDice = pickingDice
            .Where(d => d.Class == dieClasses.diescorable)
            .Select(d => d.Value)
            .ToArray();

        var diceToRoll = rolledDice.Concat(pickedDice);
        var keptDice = pickedScoringDice.Concat(hotDice).ToArray();

        StoreFact(
            new LuckTriedFact(
                rolledDice
                , keptDice
                , false));
    }

    private void PickDie(int index, bool fromRoll)
    {
        if(fromRoll)
            if (rollingDice[index].Class is dieClasses.dienoscore or dieClasses.diehot)
            {
                return;
            }

        StoreFact(new DiePickedFact(index, fromRoll));
    }
    
    private void BankPoints()
    {
        var scorableRolledDice = rollingDice
            .Where(die => die.Class is dieClasses.diescorable or dieClasses.diehot)
            .Select(die => die.Value)
            .ToList();

        var scorablePickedDice = pickingDice
            .Where(die => die.Class is dieClasses.diescorable)
            .Select(die => die.Value)
            .ToList();

        List<int> valuesToBeScored = [];
        valuesToBeScored.AddRange(scorableRolledDice);
        valuesToBeScored.AddRange(scorablePickedDice);
        valuesToBeScored.Sort();

        Dice calculatedDice = CalculateScore(valuesToBeScored);

        StoreFact(
            new LuckTriedFact(
                calculatedDice.UnscorableDice.ToArray()
                , calculatedDice.ScorableDice.ToArray()
                , true));
    }

    #endregion

    #region Records

    record GameStartedFact(int? NumberOfPlayers);
    record LuckTriedFact(int[] DiceRolled, int[] MeldKept, bool TurnEnded);
    record RollGeneratedFact(int[] DiceValues);
    record DiePickedFact(int DieIndex, bool FromRoll);
    record GameEndedFact(int Winner, int FinalScore);

    record Die(int Value, dieIds Id, dieClasses Class)
    {
        public int Value { get; set; } = Value;
        public dieIds Id { get; set; } = Id;
        public dieClasses Class { get; set; } = Class;
    }

    record Dice(List<int> Roll)
    {
        public List<int> ScorableDice { get; set; } = [];
        public List<int> UnscorableDice { get; set; } = [];
        public int Score { get; set; } = 0;
    }

    #endregion

    #region Publishers

    private void StoreFact(object fact)
    {
        GameFacts.Add(fact);
        NotifyOfNewFact();
    }

    #endregion

    #region Services

    private int[] GenerateRoll(int diceCount) {
        List<int> rollResults = new List<int>();
        Random random = new Random();
        for (int i = 0; i < diceCount; i++) {
            rollResults.Add(random.Next(1, 7));
        }
        return rollResults.ToArray();
    }

    private string GetDiceFaceUnicode(int diceValue)
    {
        return diceValue == 0 
            ? char.ConvertFromUtf32(0x2686)
            : char.ConvertFromUtf32(0x2680 + diceValue - 1);
    }

    private Dice CalculateScore(List<int> diceToScore)
    {
        Dice dice = new Dice(diceToScore);
        if (dice.Roll.Count < 1 || dice.Roll.Count > 6)
        {
            dice.Score = 0;
            return dice;
        }

        Dictionary<int, int> countsOfNumber = new Dictionary<int, int>();
        foreach (int num in dice.Roll)
        {
            if (countsOfNumber.ContainsKey(num))
            {
                countsOfNumber[num]++;
            }
            else
            {
                countsOfNumber[num] = 1;
            }
        }

        //Remove 0's
        if (countsOfNumber.ContainsKey(0))
            countsOfNumber.Remove(0);

        // Function to remove counted dice
        void RemoveCountedDice(int number, int howManyToRemove)
        {
            countsOfNumber[number] -= howManyToRemove;
            if (countsOfNumber[number] <= 0)
            {
                countsOfNumber.Remove(number);
            }
            else
            {
                dice.UnscorableDice.AddRange(Enumerable.Repeat(number, howManyToRemove));
            }
        }

        // Check for six of any number
        foreach (var number in countsOfNumber.Keys.ToList())
        {
            if (countsOfNumber[number] == 6)
            {
                RemoveCountedDice(number, 6);
                dice.Score += 3000;
                dice.ScorableDice.AddRange(Enumerable.Repeat(number, 6));
                break; // Ensure no further checks if this condition is met
            }
        }

        // Check for five of any number
        foreach (var number in countsOfNumber.Keys.ToList())
        {
            if (countsOfNumber[number] == 5)
            {
                RemoveCountedDice(number, 5);
                dice.Score += 2000;
                dice.ScorableDice.AddRange(Enumerable.Repeat(number, 5));
                break; // Ensure no further checks if this condition is met
            }
        }

        // Check for four of any number
        foreach (var number in countsOfNumber.Keys.ToList())
        {
            if (countsOfNumber[number] == 4)
            {
                RemoveCountedDice(number, 4);
                dice.Score += 1000;
                dice.ScorableDice.AddRange(Enumerable.Repeat(number, 4));
                break; // Ensure no further checks if this condition is met
            }
        }

        // Check for three pairs
        if (countsOfNumber.Values.Count(count => count == 2) == 3)
        {
            foreach (var number in countsOfNumber.Keys.ToList())
            {
                RemoveCountedDice(number, 2);
                dice.ScorableDice.AddRange(Enumerable.Repeat(number, 2));
            }

            dice.Score += 1500;
        }
        else if (countsOfNumber.Keys.Count == 6)
        {
            // Ensure this check only runs if the previous condition wasn't met
            // Check for one of every number from 1 to 6
            foreach (var number in countsOfNumber.Keys.ToList())
            {
                RemoveCountedDice(number, 1);
                dice.ScorableDice.Add(number);
            }

            dice.Score += 2500;
        }

        // Calculate score for three of any number
        foreach (var number in countsOfNumber.Keys.ToList())
        {
            if (countsOfNumber[number] == 3)
            {
                dice.Score += number == 1 ? 1000 : number * 100;
                RemoveCountedDice(number, 3);
                dice.ScorableDice.AddRange(Enumerable.Repeat(number, 3));
            }
        }

        // Calculate score for extra 1s
        if (countsOfNumber.ContainsKey(1))
        {
            int countOfNumberOne = countsOfNumber[1];
            dice.Score += countOfNumberOne * 100;
            RemoveCountedDice(1, countOfNumberOne);
            dice.ScorableDice.AddRange(Enumerable.Repeat(1, countOfNumberOne));
        }

        // Calculate score for extra 5s
        if (countsOfNumber.ContainsKey(5))
        {
            int countOfNumberFive = countsOfNumber[5];
            dice.Score += countOfNumberFive * 50;
            RemoveCountedDice(5, countOfNumberFive);
            dice.ScorableDice.AddRange(Enumerable.Repeat(5, countOfNumberFive));
        }

        if (countsOfNumber.Count > 0)
        {
            dice.UnscorableDice.AddRange(countsOfNumber.Keys.Select(num => num));
        }

        return dice;
    }

    #endregion
}
